In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
data = [4,8,15,16,23,42]
series = pd.Series(data)
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#variable print it.

In [4]:
list = [1,4,9,10,23,45,76,89,12,98]
series = pd.Series(list)
series

0     1
1     4
2     9
3    10
4    23
5    45
6    76
7    89
8    12
9    98
dtype: int64

In [5]:
#Q3. Create a Pandas DataFrame that contains the following data:
#Then, print the DataFrame

In [6]:
data = {'Name ':['Alice','Bob','Claire'],
        'Age':[25,30,27],
        'Gender':['Female','Male','Female']
       }
df = pd.DataFrame(data)

df

    Name   Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
# 4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A Pandas DataFrame is a two-dimensional labeled data structure with columns of potentially different types. A DataFrame can be thought of as a collection of Series objects.
On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding any data type .

In [8]:
import pandas as pd
series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(series)

data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data, index=['a', 'b', 'c'])
print(df)

a    1
b    2
c    3
d    4
e    5
dtype: int64
   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

some common functions use to manupulate the data in pandas Dataframe is merge(),groupby(),drop(),filter(),pivot_table() function

In [11]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire', 'Alice'],
        'Age': [25, 30, 27, 25],
        'Score': [90, 80, 95, 85]}

df = pd.DataFrame(data)


df.drop_duplicates(inplace=True)

filtered_df = df[df['Score'] > 90]

print(filtered_df)

     Name  Age  Score
2  Claire   27     95

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All three, Series, DataFrame, and Panel, are mutable in nature. This means that their contents can be modified after creation.

Q7. Create a DataFrame using multiple Series. Explain with an example

In [12]:
import pandas as pd

name_series = pd.Series(['Alice', 'Bob', 'Claire'], name='Name')
age_series = pd.Series([25, 30, 27], name='Age')
gender_series = pd.Series(['Female', 'Male', 'Female'], name='Gender')

df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'Gender': gender_series})

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female